:root{
    margin: 0px;
    padding: 0px;
}
/* body{
    margin-left: 15rem;
    margin-right: 15rem;
} */
.containertop{
    background-color:#151E26;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
a:link{
    text-decoration: none;
    color: white;
}
.containertop > p{
    margin-left: 10rem;
}
nav{
    margin-right: 10rem;
}
li{
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}
#fotoperfil{
    width: 9rem;
    display: block;
    margin: auto;
}
header{
    background-color: #1ABC9C;
    text-align: center;
    color: white;
}
main{
    text-align: center;
    display: block;
    margin: auto;
}
.containerfotos{
    display: grid;
    grid-template-columns: repeat(3, 13rem);
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-auto-rows: 9.5rem;
    justify-content: center;
}
.containerfotos > img{
    width: 12rem;
    /* justify-content: center; */
}
.about{
    background-color: #1ABC9C;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.aboutcolumnas{
    display: flex;
    flex-direction: row;
    padding-left: 25rem;
    padding-right: 28rem;
    text-align: initial;
}
.contacto{
    color: rgb(26, 22, 22, 0.3);
    text-align: center;
   display: block;
   margin: 0 auto;
}
form{
    text-align: initial;
    margin-left: 30%;
}
input{
    width: 32rem;
    border: none;
    border-bottom: 0.01rem solid rgb(26, 22, 22, 0.3);
}
#enviar{
    border: none;
    width: auto;
}
footer{
    background-color: #2C3E50;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-left: 26rem;
    padding-right: 28rem;

}
footer > div{
    text-align: center;
}
/* footer > div > p > a{
    text-decoration: #1ABC9C;
} */
.pie{
    background-color: #1A252F;
    color: white;
    text-align: center;
}
/* *{
    margin:5%;
    padding:0;
    box-sizing:border-box;
    font-size:16px;
}
nav{
    background-color: #212E3C;
}
nav li{
    display: inline-block;
    text-align: center;
    width: 10%;
} */

/* header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 1fr;   
    text-align: center; 
    background-color: #1ABC9C;
    
}
.perfil{
    height: 80px;
    width: 80px;
    margin: auto;

}
.fotos{
    display: grid;
    height: 200px;
    width: 200px;
}
.f1{
    display: flex;
} */